{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce blog !</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae magnam autem velit ducimus repellat ipsum nihil odit mollitia corporis vel. Nemo culpa maiores quod minus aliquid unde quos similique dolores nobis mollitia reiciendis asperiores labore sapiente molestiae alias laboriosam eum dicta blanditiis optio ratione voluptatum nihil, est animi quibusdam! Provident!</p>
<p>Earum expedita explicabo reprehenderit quidem quam consequatur sapiente non? Aspernatur, iure nulla. Commodi quisquam nam voluptatum illo laboriosam laborum alias quasi iure, quaerat maxime ratione. Saepe, at aperiam magni tempora eius praesentium nam rerum quis inventore, ut dolores aspernatur. Nihil totam harum facere obcaecati doloribus quisquam animi illo explicabo repellendus?</p>

{% endblock %}